<div class="todos">
    <form>
        <input 
        type="text"
        name="inputTodo"
        class="todo-input ">

    </form>
    <button class="todo-submit">Submit</button>
    <div class="todo" *ngFor="let todo of todos; let i=index" class="todo {{(todo.completed ? 'done' : '')}}" >
        <div class="id">{{i}}</div>
        <div class="content" (click)="toggleDone(i)">{{todo.content}}</div>
        <!-- <button class="delete">{{todo.completed}}</button> -->
        <button class="delete"(click)="deleteTodo(i)" >delete</button>
    </div>
</div>
